@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*
color 1: #00D1C9 - Turquoise
color 2: #FA5800 - Orange
color 3: #1DCCE4 - Ocean Blue
color 4: #3A3A3A - Gray
color 5: #022B3D - Navy Blue 

*/

body, html {

	font-family: 'Poppins', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

/*Header*/

.homepage-hero {

	background-image: url('/images/banner.png');
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {

	display: flex;
	margin: 0px 130px;
	padding-top: 40px;
	position: relative;
}

.navbar img {

	width: 90px;
	height: 100px;
	margin-left: 60px;
}

.navbar ul {
	display: flex;
	align-items: center;
	
}

.navbar ul li {

	display: inline-block;
	list-style: none;
}

.navbar a {

	font-size: 24px;
	text-decoration: none;
	color: white;
	padding: 25px;
}

.login {

	position: absolute;
	right: 50px;
}

.join-free {

	background: #FA5800;
	border: none;
	padding:  15px 30px;
	border-radius: 25px;
}

.join-free a {

	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
	color: white;
	padding: 25px
}

.headline {

	margin-left: 190px;
}

h1 {

	margin-top: 170px;
	color: white;
	font-weight: 600;
	font-size: 55px;
}

.academy {

	margin-top: -50px;
	margin-bottom: -10px;
	font-weight: 400;
	font-size: 50px;
	color: #1DCCE4;
}

.hero-text {

	font-size: 23px;
	color: white;
	margin-bottom: 30px;
}

/*Header*/

/*Reverse Way*/

.reverse-way {

	height: 65vh;
	justify-content: center;
}

.rev-title {

	text-align: center;
	color: #3a3a3a;
	font-size: 30px;
	margin-top: 70px;
}

.rev {

	color: #00D1C9;
	font-weight: 400px;
}

.card-container {

	display: grid;
  	grid-template-columns: auto auto;
  	justify-content: center;
  	margin-top: 40px;
}

.rev-card {
	
	display: flex;
	justify-content: center;
	width: 550px;
	border-radius: 25px;
	box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.25);
	padding: 20px;
	margin: 20px;

}

.rev-icon {

	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 20px 10px 20px 40px;
}

.card-content {

	flex-direction: column;

}

.card-title {

	font-size: 25px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.card-text {

	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	padding: 0px 50px 0px 40px;
}

/*Reverse Way*/

/*Counters*/



/*Counters*/

